* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100vh;
}
#parent {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#red-square {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    /* transition: all 1.5s ease; */
}
/* #parent:hover #red-square {
    
    transform-origin: top left;
    transform: rotate(90deg);
} */